<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/student_post/" method="POST">
    {% csrf_token %}
    <input name="name">
    <input name="surname">

    <input type="submit">
</form>

</body>
</html>
